/*GENERALE*/

@font-face {
    font-family: 'Josefin';
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
* {
    font-size: 16px;
    font-family: 'Josefin', Arial, Helvetica, sans-serif;
    color:#2F4F4F;
    margin: 0;
    padding: 0;
}
#FR {  
    background-color: rgb(241, 238, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgb(168, 154, 141);
    height: 300px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 30px 30px 30px 30px;
}

/*IMAGE ET TITRE*/

.imageTitle {
    
    background-image: url("images/sport\ -\ background.webp");
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0.5;   
    display: flex;
    align-items:flex-end;
    width: 400px;
}

.title {
    font-size: 1.7rem;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    text-align: center;     
    line-height: 50px;
}

/*BOUTON ET MESSAGE*/

#bouton {
    background-color: #dfae44;      
    width:100px;
    height:50px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.messageBox {
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;

}

#bouton a {
    line-height: 30px;
    text-decoration: none;
}

#bouton:hover {
    background-color: #dfae44ad;
    font-weight: bold;
}

.message {
    background-color: beige;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.corpsMessage {
    width: 100%;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1265px) {

    .container {
        justify-content:center;
        height: 700px;
        min-width: 490px;
    }
    .imageTitle {
        background-image: url("images/backgroundsport2.jpg");
       height: 500px;
    }
}
